.product {
  position: relative;
  overflow: hidden;
}

.product__picture {
  display: block;
  
  @media screen and (min-width: 480px) {
    width: 450px;
    height: 294px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
  }
}
