.auth-nav {
  display: block;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;

    &__item + &__item {
      margin-left: 50px;
    }
  }
}

.auth-nav__link {
  display: flex;
  align-items: center;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.mailto-link {
  padding-top: 21px;
  margin-bottom: 10px;
}

.tel-link {
  padding-bottom: 21px;
}

@media screen and (min-width: 1200px) {
  .mailto-link,
  .tel-link {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 0;
  }
}

.auth-nav__icon1 {
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.auth-nav__icon2 {
  display: inline-block;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
