.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/* section work  non-padding */
.section--work {
  padding-top: 0;
  
  @media screen and (max-width: 1199px)   {
    padding-bottom: 0;
  }
}

/* section team background-color */
.section--team {
  background-color: #f5f4fa;
}

/* footer section basement */

.section--basement {
  padding: 60px 0;
  background-color: var(--second-background-color);

  
}
