.section__title {
    color: var(--title-text-color);
  
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }

  .section__title--hide {
    @media screen and (max-width: 1199px) {
      display: none;
    }
  }