.hero {
  display: block;
  max-width: 100%;
  height: auto;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #c4c4c4;

  background-image: linear-gradient(
      var(--img-overlay-color),
      var(--img-overlay-color)
    ),
    url("../images/studio/hero1x480_400-min.jpg");

  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        var(--img-overlay-color),
        var(--img-overlay-color)
      ),
      url("../images/studio/hero2x480_400-min.jpg");
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        var(--img-overlay-color),
        var(--img-overlay-color)
      ),
      url("../images/studio/hero1x768_400-min.jpg");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          var(--img-overlay-color),
          var(--img-overlay-color)
        ),
        url("../images/studio/hero2x768_400-min.jpg");
        ;
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        var(--img-overlay-color),
        var(--img-overlay-color)
      ),
      url("../images/studio/hero1x1600_600-min.jpg");

    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    min-height: 600px;
   

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          var(--img-overlay-color),
          var(--img-overlay-color)
        ),
        url("../images/studio/hero2x1600_600-min.jpg");

     
    }
  }
}

.hero-title {
  text-align: center;
  margin: 0 auto;
  max-width: 360px;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.4;
  }
}
